<header class="bg-white shadow-sm">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
      </div>
      
      <div class="header-actions" *ngIf="isAuthenticated()">
        <button 
          mat-stroked-button
          (click)="openAddBoxDialog()"
          matTooltip="Create new flashcard box"
          matTooltipPosition="below"
          class="header-btn-elegant primary-elegant">
          <mat-icon>add_box</mat-icon>
          New Box
        </button>
        
        <button 
          mat-stroked-button
          (click)="navigateToGenerate()"
          matTooltip="Generate flashcards from text"
          matTooltipPosition="below"
          class="header-btn-elegant accent-elegant">
          <mat-icon>auto_awesome</mat-icon>
          Generate
        </button>
      </div>
    </div>
  </div>
</header> 