<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <app-auth-input
    formControlName="email"
    label="Email"
    type="email"
    placeholder="Enter your email"
    [errorMessage]="getErrorMessage('email')"
  ></app-auth-input>

  <app-auth-input
    formControlName="password"
    label="Password"
    type="password"
    placeholder="Enter your password"
    [errorMessage]="getErrorMessage('password')"
  ></app-auth-input>

  <div *ngIf="successMessage">
    {{ successMessage }}
  </div>

  <app-auth-error [message]="errorMessage"></app-auth-error>

  <app-auth-button
    text="Sign In"
    color="primary"
    [loading]="loading"
    [disabled]="loginForm.invalid"
  ></app-auth-button>

  <div>
    Don't have an account?
    <a routerLink="/register">
      Sign up
    </a>
  </div>
</form> 